@font-face{
     font-family: "Yellowtail";
     src: url("../Yellowtail/Yellowtail_Regular.ttf") format("truetype");
     /*font-family: "Anton";
     src: url("../Anton/Anton-Regular.ttf") format("truetype");*/
}
     @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Poor+Story&family=Song+Myung&family=Yeon+Sung&display=swap');

article{
     max-width: 860px;
     margin: 0 auto;
}

     body{
     background: rgba(50, 100, 15, 0.8);
     padding: 0px 20px 25px 20px;
     font-family: "Yeon Sung";
     margin: 0;
     
     /*margin: 0 auto;
     max-width: 1300px;*/
}

h1, h2, h3{
     color: rgb(255, 255, 200);
     font-size: 30;
     font-family: "Time New Roman";
     border-bottom: 2px solid gray;
     text-align: center;
     padding-top: 8px;
     max-width: 500px;
}
h1{
     font-size: 2em;
}
p:first-line{/* для того щоб перший рядок мав свої параметри */
     font-style: italic;
     color: rgb(58, 37, 4);
     font-weight:700;
     font-size: 18px;
}
#logo{
	font-family: Baskerville, Palatino, sans-serif;
     font-size: 2.6em;    
     color: rgba(255, 255, 255, 0.90);
     font-style: italic;
     text-align: center;
     font-weight: 800;
     margin-bottom: 36px;
     background: rgb(190, 180, 110);
     border-radius: 0 0 15px 15px;
     padding: 12px;
}
     /*font-family: Baskerville, Palatino, sans-serif;
	font-size: 2.1em;
	color: rgba(255, 255, 255, 0.8);
	font-style: italic;
	text-align: center;
	margin-bottom: 36px;
	background: rgb(190, 180, 110);
	border-radius: 0 0 10px 10px; /*  верх левый, верх прав, низ прав, низ лев  
	padding: 14px;*/

.note{
     color: #000000;
     font-size: 1.2em;
     font-style: italic;
     font-weight: 900;
     border: 4px solid #fff;
     background: rgb(198, 231, 76);
     margin-top: 25px;
     margin-bottom: 30px;
     padding: 18px;
     /*color: #000000;
	border: 2px solid #fff;
	background: rgb(69, 189, 102);
	margin-top: 22px;
	margin-bottom: 30px;
	padding: 18px;*/

}


/*.1111{
     font-family: Baskerville, Palatino, sans-serif;
     font-size: 3em;    
     color: #dd1717;
     font-style: italic;
     font-weight: 800;
}
/*p{
     color: rgb(255, 200, 255);
     font-size: 1.1em;
     font-family: "Yellowtail";
     src: url("../Yellowtail/Yellowtail_Regular.ttf") format("truetype");
} */

}


}