:link{
     color: brown;
}
:visited{
     color: rgb(163, 150, 139);
}
:hover{
     color: seagreen;
     font-size: 30px;
     font-weight: bold;
}
:active{
     font-size: 23px;
     color: black;
}
h1::first-letter{
     font-size: 40px;
     color: cyan;
}
p::first-letter{
     font-size: 22;
     color: rgb(37, 29, 29);
     font-weight: 900;
}
p::first-line{
     font-weight: bolder;
}
input:focus{
     background: rgb(63, 196, 129);
}
input:focus{
     background: rgb(63, 196, 129);
}
textarea:focus{
     background-color: coral;
     font-size: 20px;
}
h2::selection{
     background: white;
     color: black;
}
p::selection{
     background: white;
     color: black;
}